body {
  font-family: a, Helvetica, sans-serif;
}

h1 {
  color: rgb(0, 0, 0);
  font-size: 3em;
  font-weight: bold;
  margin-left: 10px;
}
h2 {
  color: rgb(0, 0, 0);
  font-size: 2em;
  font-weight: bold;
  display: block;
  text-align: center;
  margin-top: -10px;
}
h3 {
  font-size: 1em;
  height: 50px;
  margin-top: 100px;
  margin-bottom: 0px;
}
p {
  color: rgb(0, 0, 0);
  font-size: 1em;
  font-weight: 100px;
  margin-bottom: 10px;
  margin-top: 10px;
  color: rgb(0, 0, 0);
  margin-left: 10px;
}

img {
  width: 450px;
  display: block;
  margin: 0 auto;
  border-radius: 100%;
  margin-top: 10px;
}
a {
  margin-top: 0px;
}
* {
  background-color: rgba(255, 255, 255, 0.014);
}
.menu {
  display: flex;
  align-items: left;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0;
  background: hsl(0, 0%, 100%);
  border-bottom: 1px solid hsl(34, 100%, 71%);
}
.menu li {
  list-style-type: none;
}

.menu li a {
  display: block;
  width: 300px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  color: hsl(34, 100%, 71%);
  font-size: 24px;
  font-weight: 100;
  text-transform: uppercase;
  transition: all 0.2s ilnear;
  border-right: 1px solid hsl(34, 100%, 71%);
}

.menu li a:hover {
  background: rgb(0, 0, 0);
}

.menu li:first-child a {
  border-left: 1px solid hsl(34, 100%, 71%);
}
